name: Scenario-05
on:
  workflow_dispatch:
jobs:
  My-Matrix-job:
    name: ${{matrix.os}}-${{matrix.node-version}}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            node-version: [18.x, 20.x,21.x]
            os:
              - ubuntu-latest
              - window-latest
    steps:
       - name: setup-node
         uses: actions/setup-node@v3
         with: 
          node-version: ${{matrix.node-version}}

       - name: Perform some test
         run: echo "Running tests on os ${{matrix.os }} and node js ${{matrix.node-version}}"